body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.btn1 {
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.btn1:hover {
  background-color: #0056b3;
}

.taskItem {
  background: #e0f7fa;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn {
  background-color: #e53935;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.deleteBtn:hover {
  background-color: #c62828;
}

li{
  list-style: none;
}

.editBtn {
  background-color: #ffb300;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 5px;
}

.editBtn:hover {
  background-color: #ffa000;
}

.searchBox {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.taskItem p[contenteditable="true"] {
  background: #fff3e0;
  outline: 2px dashed orange;
}

select {
  padding: 8px;
  border-radius: 4px;
  margin-top: 10px;
}
